/* Reset básico para que ocupe todo el ancho */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

/* Contenedor para centrar el contenido pero que las barras sean full ancho */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Barra Superior */
.top-bar {
    background-color: #000;
    color: white;
    padding: 10px 0;
}

.top-menu ul {
    display: flex;
    justify-content: flex-end; /* Mueve las 2 opciones a la derecha */
    list-style: none;
    gap: 20px;
}

.top-menu a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

/* Barra Principal */
.main-header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.main-nav-container {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
    align-items: center;
}

.main-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.main-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

/* Responsive básico */
@media (max-width: 768px) {
    .main-nav-container {
        flex-direction: column;
        gap: 15px;
    }
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 10px;
}
.planes{
    display: flexbox;
    border: 1px solid black;
    justify-content: center;
    margin: 11px;
}
.planes img{
    width: 60%;
    object-fit: contain;
}

.formulario{
    display: flex;
    width: 300px;
    margin: 30px;
    gap: 10px;
}


